* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#title {
  font-size: 2.8rem;
  display: flex;
  justify-content: center;
  color: white;
  padding: 4rem 1rem 0 1rem;
  font-weight: 400;
}
#description {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  padding: 0rem 1rem 1rem 1rem;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  -webkit-animation: bgcolor 180s infinite;
  animation: bgcolor 120s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  /* background: linear-gradient(60deg,rgb(0, 110, 255), rgb(0, 255, 234));*/
}
#survey-form {
  margin: auto;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.561);
  padding: 3rem 2rem;
  width: 80vw;
  max-width: 900px;
  display: grid;
  align-items: center;
  border-radius: 2rem;
  justify-content: center;
}
form .simpleinput {
  display: grid;
}
form .simpleinput input,
select {
  height: 2.4rem;
  padding: 1rem;
  max-width: 750px;
  width: 60vw;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  border: 2px solid rgb(85, 85, 85);
  color: black;
}
form input:focus {
  outline: none;
  border: 2px solid rgb(21, 255, 0);
}
.radiodiv p,
.checkdiv p {
  font-weight: 700;
}
#submit {
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 0.9rem 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
#submit:hover{
    transform: scale(1.05);
}
@keyframes bgcolor {
  0% {
    background-color: #ff2d2d;
  }

  25% {
    background-color: #d4d100;
  }

  50% {
    background-color: #00ff9d;
  }

  75% {
    background-color: rgb(0, 81, 187);
  }

  100% {
    background-color: #ff0080;
  }
}
